<h1>Given your information below, your monthly payment is: $ <%= @pmt %> </h1>

<ul>
  <li>Interest rate: <%= @intrate %></li>
  <li>Number of payments: <%= @nopayments %></li>
  <li>Principal: <%= @principal %></li>
</ul>
